<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Risky Business</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Risky Business</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/bibliography">Bibliography</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Methamphetamine</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Methamphetamine is a potent central nervous
                                system stimulant that is mainly used as a recreational drug and is less used for
                                treatment purposes.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="/static/assets/meth.jpeg" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">Information</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-collection"></i></div>
                                <h2 class="h5">Street Name</h2>
                                <p class="info mb-0">The most common street names of meth are; ice, pookie, cookies, no
                                    doze, speed, crank, chalk, wash, trash, dunk, gak, cotton candy and much more.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-building"></i></div>
                                <h2 class="h5">How it can be taken</h2>
                                <p class="info mb-0">Meth is typically smoked or inhaled and when snorted or orally
                                    ingested produces euphoria.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">About Meth</h2>
                                <p class="info mb-0">Meth is a stimulant that effects the central nervous system and
                                    creates a rush.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Short term effects</h2>
                                <p class="info mb-0">Short term effects of taking meth are; increased attention,
                                    increased activity, decreased appetite, euphoria rush, increased respiration and
                                    rapid/irregular heartbeat.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Long term effects</h2>
                                <p class="info mb-0">Long term effects of taking meth are; addiction, psychosis, changes
                                    in brain structure and function, thinking and motor skills deficit, memory loss,
                                    aggressive behaviour and mood disturbances.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"I was a teacher in my late 40's when I was coerced into
                                using meth by an abusive partner. I had never used drugs before, with no real idea of
                                what meth was. Within 18 months, my meth use led to the darkest periods of my life. I
                                couldn't work, I had alienated family and friends, and death seemed to be the only
                                solution to escape the pain. The last time I used was the night I fled from that partner
                                after a horrific night of abuse."</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="/static/assets/Screenshot 2024-05-15 205641.png"
                                    alt="..." />
                                <div class="fw-bold">
                                    Jacquelyn
                                    <span class="fw-bold text-primary mx-1"></span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">Resources</h2>
                            <p class="lead fw-normal text-muted mb-5">Resources to help people quit</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <!-- <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." /> -->
                            <div class="card-body p-4">
                                <!-- <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div> -->
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="card-title mb-3">AGDHAC</h5>
                                </a>
                                <p class="card-text mb-0">The <a href="https://www.health.gov.au/our-work/drug-help">Australian Government Department of Health and Aged Care</a> is a great website to seek help from if you ever require help quitting.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle me-3"
                                            src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." /> -->
                                        <!-- <div class="small">
                                            <div class="fw-bold">Kelly Rowan</div>
                                            <div class="text-muted">March 12, 2023 &middot; 6 min read</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <!-- <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." /> -->
                            <div class="card-body p-4">
                                <!-- <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div> -->
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="card-title mb-3">Drug Aware</h5>
                                </a>
                                <p class="card-text mb-0">The <a href="https://drugaware.com.au/meth-help-tool/self-help-strategies/">Drug Aware</a> website is another great place to seek help from if you ever require help quitting.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle me-3"
                                            src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." /> -->
                                        <!-- <div class="small">
                                            <div class="fw-bold">Josiah Barclay</div>
                                            <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <!-- <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." /> -->
                            <div class="card-body p-4">
                                <!-- <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div> -->
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="card-title mb-3">Cracks in the Ice</h5>
                                </a>
                                <p class="card-text mb-0"><a href="https://cracksintheice.org.au/families-friends/what-type-of-help-is-available">Cracks in the Ice</a> is also a great website to deal with friends or family using methamphetamine and can give you ideas for getting them professional help.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle me-3"
                                            src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." /> -->
                                        <!-- <div class="small">
                                            <div class="fw-bold">Evelyn Martinez</div>
                                            <div class="text-muted">April 2, 2023 &middot; 10 min read</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Kenu Ginige 2024</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>